# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.metadata
eclipse/.metadata/
.gradle/2.0/taskArtifacts/cache.properties.lock
*.lock
*.bin

build/
bin/
eclipse/
gradle/
.settings
gradlew
*.properties
*.index
*.gz
*.dat
*.mca
.gradle
.classpath
.project

CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
forge-1.8-11.14.3.1450-changelog.txt
gradlew.bat
